@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600&display=swap");

html {
  box-sizing: border-box;
}
*,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Source Code Pro", monospace;
  font-size: 1.2rem;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 24px;
  padding: 24px;
}
svg {
  width: 32px;
  height: 32px;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.card {
  width: 300px;
  height: 485px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  gap: 24px;
  transition: background-color 0.3s linear;
}
.card:hover {
  background-color: rgb(232, 232, 232);
}

.img_wrapper {
  text-align: center;
}
.img_wrapper > img {
  border-radius: 8px;
}
.text_wrapper {
}
.title {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.username {
}
.name {
}
.phone {
}
.website {
}
.email {
}
.company_name {
  position: relative;
  padding-left: 32px;
  margin: 15px 0;
}

.company_name:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32px' height='32px' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd'  d='M9.674 2.075a.75.75 0 01.652 0l7.25 3.5A.75.75 0 0117 6.957V16.5h.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H3V6.957a.75.75 0 01-.576-1.382l7.25-3.5zM11 6a1 1 0 11-2 0 1 1 0 012 0zM7.5 9.75a.75.75 0 00-1.5 0v5.5a.75.75 0 001.5 0v-5.5zm3.25 0a.75.75 0 00-1.5 0v5.5a.75.75 0 001.5 0v-5.5zm3.25 0a.75.75 0 00-1.5 0v5.5a.75.75 0 001.5 0v-5.5z' clip-rule='evenodd' /%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  top: -5px;
  opacity: 0.7;
}

.contact_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.circle {
  background-color: #3c3c43;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 15px 0;
}
.circle:hover {
  opacity: 0.8;
}
.circle:active {
  transform: scale(0.96);
}
.address {
  display: flex;
  align-items: center;
}
.address_text {
  font-size: 14px;
  margin-left: 10px;
}
.city {
}
.street {
}
