@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

html {
  box-sizing: border-box;
}
*,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 20px;
  background-color: rgb(41, 41, 41);
  min-height: 100vh;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: start;
  gap: 10px;
}
.car {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(12, 9, 25);
  height: 350px;
}
.car:hover {
  opacity: 0.96;
  transform: scale(1.01);
  cursor: pointer;
}
.car > img {
  border-radius: 10px;
  width: 300px;
}
.car > p {
  margin: 5px;
}
