#app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr;
}
.header {
  position: relative;
  display: grid;
  place-items: center;
  background-color: $color-gray-700;
}

%active {
  cursor: pointer;
  &:active {
    transform: scale(0.98);
  }
}

.input_wrapper {
  position: absolute;
  bottom: calc($height-input-wrapper / 2 * -1);
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
  .input {
    padding: 16px;
    width: 100%;
    max-width: 638px;
    background: $color-gray-500;
    border: none;
    outline: 1px solid #0d0d0d;
    border-radius: 8px;
    color: $color-gray-300;
    &:focus-visible {
      outline: 1px solid $color-blue-dark;
    }
  }
  .button {
    background-color: $color-blue-dark;
    border-radius: 8px;
    width: 90px;
    height: 52px;
    display: flex;
    place-items: center;
    gap: 8px;
    justify-content: center;
    border: none;
    color: $color-gray-100;
    font-weight: bold;
    @extend %active;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: $color-blue;
    }
  }
}
